<?xml version="1.0"?>
<!--
/*
 * @category    Tandym
 * @package     Tandym_Tandympay
 * @copyright   Copyright (c) Tandym (https://www.bytandym.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="tandympay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[<div class="tandym-payment-logo"></div><div class="tandym-payment-byline"><strong class="tandym-brand-name">Tandym Payments</strong> → Branded card for the best merchants.
</div>]]></label>
                <fieldset_css>complex tandym-payment-section</fieldset_css>
                <frontend_model>Tandym\Tandympay\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <attribute type="displayIn">recommended_solutions</attribute>
                <group id="tandym_payment" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[General]]></label>
                    <!-- active -->
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/tandympay/active</config_path>
                    </field>
                    <!-- title -->
                    <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Program Name</label>
                        <config_path>payment/tandympay/title</config_path>
                    </field>
                    <!-- program_description -->
                    <field id="program_description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Program Description</label>
                        <config_path>payment/tandympay/program_description</config_path>
                    </field>
                    <!-- program_logo -->
                    <field id="program_logo" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Program Logo</label>
                        <config_path>payment/tandympay/program_logo</config_path>
                    </field>
                    <!-- public key -->
                    <field id="public_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>API Key</label>
                        <comment>Look for this in your Tandym Merchant Dashboard</comment>
                        <config_path>payment/tandympay/public_key</config_path>
                    </field>
                    <!-- private key -->
                    <field id="private_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Secret</label>
                        <comment>Look for this in your Tandym Merchant Dashboard</comment>
                        <config_path>payment/tandympay/private_key</config_path>
                    </field>
                    <!--payment mode-->
                    <field id="payment_mode" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Mode</label>
                        <source_model>Tandym\Tandympay\Model\System\Config\Source\Payment\Mode</source_model>
                        <config_path>payment/tandympay/payment_mode</config_path>
                    </field>
                    <!-- payment action -->
                    <field id="payment_action" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action</label>
                        <source_model>Tandym\Tandympay\Model\System\Config\Source\Payment\PaymentAction</source_model>
                        <config_path>payment/tandympay/payment_action</config_path>
                    </field>
                    <!--sort order-->
                    <field id="sort_order" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/tandympay/sort_order</config_path>
                    </field>
                </group>
                <group id="tandympay_widget" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Widget Settings]]></label>
                    <!-- widget pdp -->
                    <field id="widget_pdp" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Widget in PDP</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Makes you enable Tandym Widget in PDP</comment>
                        <config_path>payment/tandympay/widget_pdp</config_path>
                    </field>
                    <!-- widget cart -->
                    <field id="widget_cart" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Widget in Cart Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Makes you enable Tandym Widget in Cart Page</comment>
                        <config_path>payment/tandympay/widget_cart</config_path>
                    </field>
                    <!-- widget express checkout -->
                    <field id="widget_express_checkout" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Express Checkout in Cart Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Makes you enable Tandym Widget in Cart Page</comment>
                        <config_path>payment/tandympay/widget_express_checkout</config_path>
                    </field>
                    <!-- widget express checkout in minicart -->
                    <field id="widget_express_checkout_mini_cart" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Express Checkout in Mini Cart</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Makes you enable Tandym Widget in Mini Cart</comment>
                        <config_path>payment/tandympay/widget_express_checkout_mini_cart</config_path>
                    </field>
                    <!-- widget express checkout button image url -->
                    <field id="xpress_button_img" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Express Checkout Button Image URL</label>
                        <comment>This Image URL will be used for the xPress Checkout Button</comment>
                        <config_path>payment/tandympay/xpress_button_img</config_path>
                    </field>
                </group>
                <group id="tandympay_developer" translate="label" type="text" sortOrder="5" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label><![CDATA[Developer Settings]]></label>
                    <!-- log tracker -->
                    <field id="log_tracker" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Log Tracker</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>If yes, all Tandym actions will be logged</comment>
                        <config_path>payment/tandympay/log_tracker</config_path>
                    </field>
                    <!-- log download-->
                    <field id="log_download" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Developer Logs</label>
                        <depends>
                            <field id="log_tracker">1</field>
                        </depends>
                        <frontend_model>Tandym\Tandympay\Block\Adminhtml\System\Config\Form\DeveloperLogs</frontend_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>